{% load staticfiles %}
<!DOCTYPE html>

<html>

<head>
	<title>Главная</title>
	<link rel="stylesheet" type="text/css" href="{% static 'static/css/foundation.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'firstBlog/style.css' %}">
</head>

<body>

	<div class='top-bar'>
		
			<ul class='right'>
				{% if username %}
					<li align="right"><a href='/auth/logout/'><font size='3' color='#ffffff'>Выйти ({{ username }}) </font></a></li>
				{% else %}
					<li align="right"><a href='/auth/login/'><font size='3' color='#ffffff'>Войти</font></a></li>
				{% endif %}
			</ul>
				
	</div>


	<h2 align="left"><a href='/'>Deuse's blog</a></h2>

	<div class='row'>

	{% block movie %}{% endblock %}
	{% block login %}{% endblock %}

	</div>

</body>

</html>