{% extends 'main.html' %}
{%load staticfiles %}

{% block movie %}

	<h3 align="left">Блог о фильмах</h3>
	<div class='large-8 cloumns'>
	{% for movie in movies %}
		<h4><a href='/movies/get/{{ movie.id }}/'>{{ movie.movie_title }}</a></h4>
		<p>{{ movie.movie_text }}</p>
		<p><a href='/movies/addlike/{{ movie.id }}/'><img src='{% static 'goodlike.png' %}' width='20px' height='35px'></a>({{ movie.movie_likes }})</p>
		<h6>Дата публикации: {{ movie.movie_date }}</h6>
		<form method='LINK' action='/movies/get/{{ movie.id }}/'>
    	<input type='submit' class='button' value='Подробнее >>'>
		</form>
		<hr>
	{% endfor %}
	</div>

	<div class='row'>
		<div class='large-3 large-offset-5 columns'>
			<ul class='pagination'>
				{% if movies.has_previous %}
					<li class='arrow'><a href="/page/{{ movies.previous_page_number }}/">&laquo;</a></li>
				{% else %}
					<li class='arrow unavaliable'><a href="">&laquo;</a></li>
				{% endif %}

				{% for page in movies.paginator.page_range %}
					{% if page == movies.number %}
						<li class='current'><a href="/page/{{ page }}/">{{ page }}</a></li>
					{% else %}
						<li><a href="/page/{{ page }}/">{{ page }}</a></li>
					{% endif %}
				{% endfor %}

				{% if movies.has_next %}
					<li class='arrow'><a href="/page/{{ movies.next_page_number }}/">&raquo;</a></li>
				{% else %}
					<li class='arrow unavaliable'><a href="">&raquo;</a></li>	
				{% endif %}			
			</ul>
		</div>
	</div>
{% endblock %}	
	
