{% extends 'main.html' %}
{%load staticfiles %}
-
{% block movie %}

	<h3 align="left">Выбранная статья</h3>
	
		<h4>{{ movie.movie_title }}</h4>
		<p>{{ movie.movie_text }}</p>
		<p><a href='/movies/addlike/{{ movie.id }}/'><img src='{% static 'goodlike.png' %}' width='20px' height='35px'></a> {{ movie.movie_likes }}</p>
		<hr>
		<h6>Дата публикации: {{ movie.movie_date }}</h6>
		<hr>
		<div class='large-offset-1 large-8 columns'>
		<div class='border-comments'>
			
				{% for comment in comments %}
             		<p>{{ comment.comments_text }}</p>
             		<hr>
				{% endfor %}
			</div>
			{% if username %}

				<form action='/movies/addcomment/{{ movie.id }}/' method='post'>
					{% csrf_token %}
					{{ form }}
				<input type='submit' class='button' value='Добавить комментарий'>
				</form>
			
			{% else %}
				<div class='large-offset-2 large-13 columns'>	
					<hr>
					<h4 align='left'><a href='/auth/login/'>Авторизируйтесь, чтобы оставить комментарий</a></h4>
					<hr>
				</div>
			{% endif %}

		</div>	
			
{% endblock %}		
