body{
	background: #f0f0f0; 
}

li a {
    display: inline; /* Ссылка как блочный элемент */
    padding: 1px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #666; /* Цвет текста */
   	width: 100%;
    height: 30px; 
    border-bottom: none; /* Границу снизу не проводим */
   }

   li a:hover {
    color: #ffe; /* Цвет текста активного пункта */
    background-color: #5488af; /* Цвет фона активного пункта */
    height: 30px;
   }